img{
  width: 140px;
}

img:hover{
  border-radius: 50px;
  width: 170px;
  transition: 1s;
}

th{
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  background-color: antiquewhite;
  text-shadow: 1px 0px 2px green;
}

th:hover{
  font-size: 20px;
  background-color: aqua;
  color: white;
  transition: 2s;
}

td{
  text-align: center;
}

td:hover{
  font-size: 20px;
  background-color: rgb(51, 255, 0);
  color: white;
  transition: 1s;
}